@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-lightHover: #fcf4ff;
    --color-darkHover: #2a004a;
    --color-darkTheme: #11001F;
    --font-family-outfit: Outfit, sans-serif;
    --font-family-ovo: Ovo, serif;
    --box-shadow-black: 4px 4px 0 #000;
    --box-shadow-white: 4px 4px 0 #fff;
    --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
  }
}

*{
  font-family: Outfit;
}

