@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 255 255 255;
  }
}

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}
